<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Today, Sustain Tomorrow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="logo">🌱 Save Today</div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/sdg12">SDG 12</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->

    <section class="hero">

        <div class="hero-content">

            <h1>Save Today,<br> Sustain Tomorrow</h1>

            <p>
                Small actions today create a greener future tomorrow.
                Join our mission to reduce food, water, and electricity waste.
            </p>

            <a href="/register">
    <button>🚀 Get Started</button>
</a>

        </div>

    </section>

    <!-- About -->

    <section class="about">

        <h2>About SDG 12</h2>

        <p>
            Sustainable Development Goal 12 promotes responsible consumption
            and production. By making smarter choices every day, we can protect
            our environment and create a sustainable future for everyone.
        </p>

    </section>

    
    <section class="stats">

        <div class="stat-box">
            <h2>500+</h2>
            <p>Habits Tracked</p>
        </div>

        <div class="stat-box">
            <h2>300+</h2>
            <p>Pledges Taken</p>
        </div>

        <div class="stat-box">
            <h2>100+</h2>
            <p>Active Users</p>
        </div>

    </section>

    <!-- Footer -->

    <footer>

        <p>
            © 2026 Save Today, Sustain Tomorrow |
            Supporting United Nations SDG 12
        </p>

    </footer>

</body>
</html>